In [2]:
import pandas as pd
import numpy as np
val1=pd.Series([1,2,1+np.nan,3,4])
print(val1.isnull())
print(val1.notnull())
print(val1.dropna())
print(val1.fillna(12))
print(val1.fillna(method='ffill'))
print(val1.fillna(method='bfill'))

0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool
0    1.0
1    2.0
3    3.0
4    4.0
dtype: float64
0     1.0
1     2.0
2    12.0
3     3.0
4     4.0
dtype: float64
0    1.0
1    2.0
2    2.0
3    3.0
4    4.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    3.0
4    4.0
dtype: float64

In [18]:


# print(missdata.dropna())
# print(missdata.fillna(12))
# print(missdata.fillna(method='ffill'))
print(missdata.fillna(method='bfill'))

    order                    name  height(cm)
0       1       George Washington       189.0
1       2              John Adams       170.0
2       3        Thomas Jefferson       189.0
3       4           James Madison       183.0
4       5            James Monroe       183.0
5       6       John Quincy Adams       171.0
6       7          Andrew Jackson       185.0
7       8        Martin Van Buren       168.0
8       9  William Henry Harrison       173.0
9      10              John Tyler       183.0
10     11           James K. Polk       173.0
11     12          Zachary Taylor       175.0
12     13        Millard Fillmore       175.0
13     14         Franklin Pierce       178.0
14     15          James Buchanan       193.0
15     16         Abraham Lincoln       193.0
16     17          Andrew Johnson       178.0
17     18        Ulysses S. Grant       173.0
18     19     Rutherford B. Hayes       183.0
19     20       James A. Garfield       183.0
20     21       Chester A. Arthur       183.0
21     23       Benjamin Harrison       170.0
22     25        William McKinley       170.0
23     26      Theodore Roosevelt       178.0
24     27     William Howard Taft       182.0
25     28          Woodrow Wilson       180.0
26     29       Warren G. Harding       183.0
27     30         Calvin Coolidge       178.0
28     31          Herbert Hoover       182.0
29     32   Franklin D. Roosevelt       188.0
30     33         Harry S. Truman       175.0
31     34    Dwight D. Eisenhower       179.0
32     35         John F. Kennedy       183.0
33     36       Lyndon B. Johnson       193.0
34     37           Richard Nixon       182.0
35     38             Gerald Ford       183.0
36     39            Jimmy Carter       177.0
37     40           Ronald Reagan       185.0
38     41       George H. W. Bush       188.0
39     42            Bill Clinton       188.0
40     43          George W. Bush       182.0
41     44            Barack Obama       185.0

In [7]:
missdata=pd.read_csv('president_heights2.csv')
print(missdata.head(20))

    order                    name  height(cm)
0       1       George Washington       189.0
1       2              John Adams       170.0
2       3        Thomas Jefferson       189.0
3       4           James Madison         NaN
4       5            James Monroe       183.0
5       6       John Quincy Adams       171.0
6       7          Andrew Jackson       185.0
7       8        Martin Van Buren       168.0
8       9  William Henry Harrison       173.0
9      10              John Tyler       183.0
10     11           James K. Polk       173.0
11     12          Zachary Taylor         NaN
12     13        Millard Fillmore       175.0
13     14         Franklin Pierce       178.0
14     15          James Buchanan         NaN
15     16         Abraham Lincoln       193.0
16     17          Andrew Johnson       178.0
17     18        Ulysses S. Grant       173.0
18     19     Rutherford B. Hayes         NaN
19     20       James A. Garfield       183.0

    order  name  height(cm)
0    True  True        True
1    True  True        True
2    True  True        True
3    True  True       False
4    True  True        True
5    True  True        True
6    True  True        True
7    True  True        True
8    True  True        True
9    True  True        True
10   True  True        True
11   True  True       False
12   True  True        True
13   True  True        True
14   True  True       False
15   True  True        True
16   True  True        True
17   True  True        True
18   True  True       False
19   True  True        True
20   True  True        True
21   True  True       False
22   True  True        True
23   True  True        True
24   True  True        True
25   True  True        True
26   True  True        True
27   True  True        True
28   True  True        True
29   True  True        True
30   True  True        True
31   True  True        True
32   True  True        True
33   True  True        True
34   True  True        True
35   True  True        True
36   True  True        True
37   True  True        True
38   True  True        True
39   True  True        True
40   True  True        True
41   True  True        True

In [ ]:
print(missdata.isnull())

    order   name  height(cm)
0   False  False       False
1   False  False       False
2   False  False       False
3   False  False        True
4   False  False       False
5   False  False       False
6   False  False       False
7   False  False       False
8   False  False       False
9   False  False       False
10  False  False       False
11  False  False        True
12  False  False       False
13  False  False       False
14  False  False        True
15  False  False       False
16  False  False       False
17  False  False       False
18  False  False        True
19  False  False       False
20  False  False       False
21  False  False        True
22  False  False       False
23  False  False       False
24  False  False       False
25  False  False       False
26  False  False       False
27  False  False       False
28  False  False       False
29  False  False       False
30  False  False       False
31  False  False       False
32  False  False       False
33  False  False       False
34  False  False       False
35  False  False       False
36  False  False       False
37  False  False       False
38  False  False       False
39  False  False       False
40  False  False       False
41  False  False       False